@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-comments/styles.css";

* {
  font-family:
    work sans,
    sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none bg-transparent outline-none ring-offset-0 focus:ring-1 focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white !important;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200 !important;
  }

  /* ============= SIDEBARS ============= */
  .left-sidebar {
    @apply flex flex-col text-primary-grey-300 min-w-[200px] min-h-[100dvh] border-t border-primary-grey-200 bg-primary-black sticky left-0 max-sm:hidden select-none overflow-y-auto pb-20 lg:pb-10;
  }

  .right-sidebar {
    @apply flex flex-col text-primary-grey-300 min-w-[227px] border-t border-primary-grey-200 bg-primary-black sticky right-0 max-sm:hidden select-none overflow-y-auto pb-20 lg:pb-10;
  }
}